.dough-list-item {
  $self: &;

  display: flex;
  flex-direction: column;
  padding-left: 50px;

  &:hover {
    #{$self}__name::before {
      box-shadow: $shadow-regular;
    }
  }

  &__name {
    @include r-s16-h19;

    &::before {
      @include p_center-v;

      width: 36px;
      height: 36px;

      content: "";
      transition: 0.3s;

      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--checked {
      &::before {
        box-shadow: $shadow-large;
      }
    }
  }

  &__description {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
  }

  &--light {
    #{$self}__name {
      &::before {
        background-image: url("@/assets/img/dough-light.svg");
      }
    }
  }

  &--large {
    #{$self}__name {
      &::before {
        background-image: url("@/assets/img/dough-large.svg");
      }
    }
  }
}
